<!-- Begin contents team Tickets Section -->
<section id="tickets" class="tickets">
  <div class="content-wrapper">
    <div class="col-lg-8 col-md-10 col-lg-offset-2 col-md-offset-1">
      <h3>{{ site.tickets2Title }}</h3>
      {% for tickets2Offer in site.tickets2Offers %}
      {% assign colWidth = 12 | divided_by: forloop.length %}
      {% assign check = forloop.index | modulo:2 %}
      <div class="col-md-{{ colWidth }} col-sm-{{ colWidth }} pricing-col {% if tickets2Offer.featured != null %}pricing-col-featured{% endif %} animated hiding" data-animation="{% if forloop.index == 1 %}fadeInLeft{% elsif forloop.index == forloop.length %}fadeInRight{% else %}fadeInDown{% endif %}" data-delay="{% if check == 0 %}0{% else %}500{% endif %}">
        {% if tickets2Offer.ribbon != null %}<div class="pricing-ribbon">{{ tickets2Offer.ribbon }}</div>{% endif %}
        <div class="pricing-header">
          <p class="title">{{ tickets2Offer.name }}</p>
        </div>
        <div class="pricing-content">
          <ul>
            {% for listItem in tickets2Offer.ticketContentList %}
            <li>{{ listItem }}</li>
            {% endfor %}
          </ul>
          <a class="button" href="{{ tickets2Offer.buyButtonLink }}" target="_blank">{{ tickets2Offer.buyButtonText }}</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- End Tickets Section -->
